@charset "UTF-8";
*{
	margin: 0 auto;
	max-width: 1000px
}

h1{
	text-align: center;
}

form{
	border: 2px solid black;
	width: 50%;
}

.form-control{
	width: 50%;
}

.form-group{
	padding: 10px;
}

.results{
	background-color: rgb(244, 185, 194);
	width: 400px;
	height: 500px;
	font-size: 25px;
	text-align: center;
}