.header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 30px;
			padding: 20px 0;
		}

		.left {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-right: auto;
			margin-left: 15px;
		}

		.right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-left: auto;
			margin-right: 15px;
		}

		.main {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		table {
			margin-top: 30px;
			border: 1px solid black;
		}

		th, td {
			padding: 10px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:nth-child(odd) {
			background-color: #ddd;
		}