<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Author</title>
</head>
<body>
    <h1>{{one_author.name}}</h1>
    <div class="container">
        <div class="left">
            <h2>{{one_author.name}}'s Favorites</h2>
            <div class="box">
                {%for book in one_author.books%}
                <a href=>{{book.title}}</a>
                {%endfor%}
            </div>
            <a href="/authors">Home</a>
        </div>
        <div class="right">
            <h2>Add Author's Favorite</h2>
            <form action="/add_book_to_author", method="post">
                <select name="book_id">
                    {%for book in books%}
                        <option value="{{book.id}}">{{book.title}}</option>
                    {%endfor%}
                    </select>
                <button>Add Book</button>
            </form>
        </div>
    </div>
</body>
</html>