<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Book</title>
</head>
<body>
    <h1>{{one_book.title}}</h1>
    <div class="container">
        <div class="left">
            <h2>Favorite by:</h2>
            <div class="box">
                {%for author in one_book.authors%}
                <a href=>{{author.name}}</a>
                {%endfor%}
            </div>
            <a href="/authors">Home</a>
        </div>
        <div class="right">
            <h2>Add Books Favorite</h2>
            <form action="/add_author_to_book", method="post">
                <select name="author_id">
                    {%for author in authors%}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {%endfor%}
                    </select>
                <button>Add Author</button>
            </form>
        </div>
    </div>
</body>
</html>