<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Author</title>
</head>
<body>
    <h1>Authors</h1>
    <div class="container">
        <div class="left">
            <h2>New Author</h2>
            <form action='/author/add' method="post">
                <label for="new_author">Name:</label>
                <input type="text" name="name">
                <br>
                <button>Create</button>
            </form>
        </div>
        <div class="right">
            <h2>All Authors</h2>
            <div class="box">
                {%for author in all_authors%}
                    <a href="/author/{{author.id}}">{{author.name}}</a>
                {%endfor%}
            </div>
            <a href="/ninjas">Add Book</a>
        </div>
    </div>
</body>
</html>