<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <title>The Great Number Game!</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <h2>I am thinking of a number between 1 and 100...</h2>
    <h2>Take a guess!!!</h2>
    <h3 style="background-color:{{session["color"]}};height:{{session["height"]}};width:{{session["width"]}};border:{{session['border']}}" >{{session['x']}}</h3>    
    <form action="/guess" method="post">
        <input type="text" name="guess">
        <button>{{session['button']}}</button>
    </form>
    <h2>{{session['number']}}</h2>
</body>
</html>