<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>Users</title>
</head>
<body>
    <Table>
        <Thead class = theader>
            <tr class = theader>
                <th class = theaderrow>First Name</th>
                <th class = theaderrow>Last Name</th>
                <th class = theaderrow>Full Name</th>
            </tr>
        </Thead>
        <tbody>
            {% for i in users_info %}
                <tr>
                    <td>{{i['first_name']}}</td>
                    <td>{{i['last_name']}}</td>
                    <td>{{i['first_name'] + " " + i['last_name']}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </Table>
</body>
</html>