<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/display.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>
        {{current_dojo.name}}
    </h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
        </thead>
        <tbody>
        {%for one_dojo in current_dojo.ninjas%}
            <tr>
                <td>{{one_dojo.first_name}}</td>
                <td>{{one_dojo.last_name}}</td>
                <td>{{one_dojo.age}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>