<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Dojos and Ninjas</title>
</head>
<body> 
    <h1>Dojos</h1>
    <div class="container">
        <div class="left">
            <h2>New Dojo</h2>
            <form action='/create_dojo' method="post">
                <label for="new_dojo">Name:</label>
                <input type="text" name="new_dojo">
                <br>
                <button>Create</button>
            </form>
        </div>
        <div class="right">
            <h2>All Dojos</h2>
            <div class="box">
                {%for dojo in all_dojos%}
                    <a href="/dojos/{{dojo.id}}">{{dojo.name}}</a> <br>
                {%endfor%}
            </div>
            <a href="/ninjas">Add Ninja</a>
        </div>
    </div>
</body>
</html>